*{
	font-family: century gothic, avenir, arial;
	letter-spacing: 2px;
	font-size: 14px;
	color:gray
}

.info{
	padding:34px;
}

a{
	text-decoration: none;
}
a:visited {
    color: gray;
}

a:hover {
    color: black;
}

