html, body {
	overflow:hidden;
}

* {
  margin: 0;
  padding: 0;
  overflow:hidden;
}

.one{
    width: 70%;
	height: 10px;
	background-color: pink;
}

.two{
    width: 70%;
	height: 10px;
	background-color: white;
}

.three{
    width: 70%;
	height: 10px;
	background-color: black;
}

#lines{
    transform-origin: center;
	width: 70%;
	height: 70%
}
