html, body {
	overflow:hidden;
}

* {
  margin: 0;
  padding: 0;
  overflow:hidden;
}

.one{
    width: 100%;
	height: 10px;
	background: pink;
	transform-origin: center;

}

.two{
    width: 100%;
	height: 10px;
	background: white;
		transform-origin: center;
	
}

.three{
    width: 100%;
	height: 10px;
	background: black;
		transform-origin: center;
	
}

#lines{

	    width: 300%;
	
}
