html, body {
	overflow:hidden;
	
}

* {
  overflow:hidden;
}

.one{
    margin: auto;
  margin auto;
    width: 100%;
	height: 10px;
	background-color: white;
	z-index: 7
}

.two{
    margin: auto;
  margin: auto;
    width: 100%;
	height: 10px;
	background-color: white;
	z-index: 7
}

.three{
    margin: auto;
  margin: auto;
    width: 100%;
	height: 10px;
	background-color: white;
	z-index: 7
}

#lines{
	width: 100%;
}

.space1, .space2, .space3{
    width: 100%;
	height: 1px;
	background-color: white;
}

.button{
    width: 16px;
	height: 16px;
	background: black;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	position: absolute;
	top:30px;
	right:30px;
	z-index: 20
}

.info{
    z-index: 10;
    width:70%;
    height: 70%;
    margin: 0 auto;
    left:30px;
    background-color: white;
    position: absolute;
    text-align: center;
   font-family: helvetica;
   font-size: 12px;
    
}

.none{
    display: none;
}