
.one{
    width: 100%;
	height: 10px;
	background: pink;
margin: auto;
}

.two{
    width: 100%;
	height: 10px;
	background: black;
margin: auto;
}

.three{
    width: 100%;
	height: 10px;
	background: pink;
margin: auto;
}

.four{
    width: 100%;
	height: 10px;
	background: black;
margin: auto;
}


.five{
    width: 100%;
	height: 10px;
	background: pink;
margin: auto;
}

.six{
    width: 100%;
	height: 10px;
	background: black;
margin: auto;
}

.seven{
    width: 100%;
	height: 10px;
	background: pink;
margin: auto;
}

.eight{
    width: 100%;
	height: 10px;
	background: black;
margin: auto;
}

.nine{
    width: 100%;
	height: 10px;
	background: pink;
margin: auto;
}
