 html,body{
    overflow:hidden
    }
    
#cube{
    transform-origin: center; 
}
    
.one{
    width: 10000px;
	height: 10px;
	background: pink;
}

.two{
    width: 10000px;
	height: 10px;
	background: black;
}

.three{
    width: 10000px;
	height: 10px;
	background: pink;
}

.four{
    width: 10000px;
	height: 10px;
	background: black;
}


.five{
    width: 10000px;
	height: 10px;
	background: pink;
}

.six{
    width: 10000px;
	height: 10px;
	background: black;
}

.seven{
    width: 10000px;
	height: 10px;
	background: pink;
}

.eight{
    width: 10000px;
	height: 10px;
	background: black;
}

.nine{
    width: 10000px;
	height: 10px;
	background: pink;
}

