html, body {
	overflow:hidden;
}

* {
  margin: 0;
  padding: 0;
}

.one{
    width: 100000%;
	height: 10px;
	background: pink;

}

.two{
    width: 100000%;
	height: 10px;
	background: white;
	
}

#cube{
	transform-origin: center;
	    width: 100000%;
	
}

#color-preview {
    position: absolute;
    width: 340px;
  height: 340px;
  left:170px;
  top:400px;
}


h1 {
  position: absolute;
  width: 100%;
  top: 42%;
  left: 0px;
  transform: translate(0, -50%); 
  text-align: center; 
}